<row class="subheader">
    <columns>
      <spacer size="24"></spacer>
      <h6 class="subheader-text">Featured products</h6>
    </columns>
  </row>

  <row class="featured-products">
      <columns large="6" small="12">
        <img src="assets/img/img5.png" />
        <spacer size="24"></spacer>
        <h5 class="featured-title"><a href="#" class="no-color">Empire</a></h5>
        <p class="featured-description">An Amazon-style powerhouse.</p>
        <table class="button text-button"><tbody><tr><td><table><tbody><tr><td><a href="#">View theme</a></td><td><a href="#"><img src="/assets/img/chevron.svg"></a></td></tr></tbody></table></td></tr></tbody></table>
      </columns>

      <columns large="6" small="12">
        <img src="assets/img/img6.png" />
        <spacer size="24"></spacer>
        <h5 class="featured-title"><a href="#" class="no-color">Ultimate Special Offers</a></h5>
        <p class="featured-description">Combines every type of promotion.</p>
        <table class="button text-button"><tbody><tr><td><table><tbody><tr><td><a href="#">View app</a></td><td><a href="#"><img src="/assets/img/chevron.svg"></a></td></tr></tbody></table></td></tr></tbody></table>
      </columns>
    </row>
