<hr class="hr-divider" />
<row class="collapsed footer">
    <columns>
      <spacer size="48"></spacer>
      <center>
          <menu>
            <item href=""><img src="assets/img/facebook.svg" alt="Facebook"></item>
            <item href=""><img src="assets/img/twitter.svg" alt="Twitter"></item>
            <item href=""><img src="assets/img/instagram.svg" alt="Instagram"></item>
            <item href=""><img src="assets/img/linkedin.svg" alt="LinkedIn"></item>
          </menu>
        </center>
        <spacer size="32"></spacer>
        <p>To make sure you keep getting these emails, please add <a href="info@pixelunion.net">info@pixelunion.net</a> to your address book or whitelist us. Want out of the loop? <a href="#">Unsubscribe</a>.</p>

        <p>Our postal address: 201-1221 Broad Street, Victoria, BC V8W 2A4</p>
    </columns>
  </row>

  <spacer size="16"></spacer>
