<row class="subheader">
    <columns>
      <spacer size="24"></spacer>
      <h6 class="subheader-text">Recent updates</h6>
    </columns>
  </row>

  <row class="blog-post">
    <columns small="4">
      <img src="assets/img/img2.png" />
    </columns>

    <columns small="8">
      <h5 class="heading-no-margin"><a href="#" class="no-color">Single-product ecommerce: Turn your small store into a big success</a></h5>
      <table class="button text-button"><tbody><tr><td><table><tbody><tr><td><a href="#">Read now</a></td><td><a href="#"><img src="/assets/img/chevron.svg"></a></td></tr></tbody></table></td></tr></tbody></table>
    </columns>
  </row>

  <spacer size="16"></spacer>

  <row class="blog-post">
    <columns small="4">
      <img src="assets/img/img3.png" />
    </columns>

    <columns small="8">
      <h5 class="heading-no-margin"><a href="#" class="no-color">How to write ecommerce product descriptions: A complete guide</a></h5>
      <table class="button text-button"><tbody><tr><td><table><tbody><tr><td><a href="#">Read now</a></td><td><a href="#"><img src="/assets/img/chevron.svg"></a></td></tr></tbody></table></td></tr></tbody></table>
    </columns>
  </row>

  <spacer size="16"></spacer>

  <row class="blog-post">
    <columns small="4">
      <img src="assets/img/img4.png" />
    </columns>

    <columns small="8">
      <h5 class="heading-no-margin"><a href="#" class="no-color">Atlantic 14.0 adds live search, sub-collections, and more</a></h5>
      <table class="button text-button"><tbody><tr><td><table><tbody><tr><td><a href="#">Read now</a></td><td><a href="#"><img src="/assets/img/chevron.svg"></a></td></tr></tbody></table></td></tr></tbody></table>
    </columns>
  </row>
