<row class="subheader">
    <columns>
      <spacer size="24"></spacer>
      <h6 class="subheader-text">Theme resources</h6>
    </columns>
  </row>

  <row class="blog-post">
    <columns small="2">
      <img src="assets/img/register.svg" />
    </columns>

    <columns small="10">
      <h5 class="heading-no-margin"><a href="#" class="no-color">Register for easy updates</a></h5>
      <table class="button text-button"><tbody><tr><td><table><tbody><tr><td><a href="#">Register theme</a></td><td><a href="#"><img src="/assets/img/chevron.svg"></a></td></tr></tbody></table></td></tr></tbody></table>
    </columns>
  </row>

  <spacer size="16"></spacer>

  <row class="blog-post">
    <columns small="2">
      <img src="assets/img/guide.svg" />
    </columns>

    <columns small="10">
      <h5 class="heading-no-margin"><a href="#" class="no-color">Hit the ground running</a></h5>
      <table class="button text-button"><tbody><tr><td><table><tbody><tr><td><a href="#">View the guide</a></td><td><a href="#"><img src="/assets/img/chevron.svg"></a></td></tr></tbody></table></td></tr></tbody></table>
    </columns>
  </row>

  <spacer size="16"></spacer>

  <row class="blog-post">
    <columns small="2">
      <img src="assets/img/support.svg" />
    </columns>

    <columns small="10">
      <h5 class="heading-no-margin"><a href="#" class="no-color">Get the help you need</a></h5>
      <table class="button text-button"><tbody><tr><td><table><tbody><tr><td><a href="#">Go to Support Centre</a></td><td><a href="#"><img src="/assets/img/chevron.svg"></a></td></tr></tbody></table></td></tr></tbody></table>
    </columns>
  </row>
